[Unit]
Description=ostree-mailcow
After=docker.service
Requires=docker.service
Conflicts=nginx.service

[Service]
Restart=always
RestartSec=15
TimeoutStartSec=0
User=root
Group=root
ExecStartPre=/usr/bin/mailcow-pre.sh
ExecStart=/usr/bin/docker compose --project-directory /var/opt/persist/mailcow -f /var/opt/persist/mailcow/docker-compose.yml up --remove-orphans --quiet-pull
ExecStop=/usr/bin/docker compose --project-directory /var/opt/persist/mailcow down

[Install]
WantedBy=multi-user.target
