[Unit]
Description=ostree-radicale
After=docker.service nginx.service
Requires=docker.service nginx.service

[Service]
Restart=always
RestartSec=15
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull tomsquest/docker-radicale
ExecStart=/usr/bin/docker run --rm --name %n --stop-timeout 60 \
    --net nginx_default --ip 172.20.1.31 \
    -p 5232:5232 \
    --init \
    --read-only \
    --security-opt="no-new-privileges:true" \
    --cap-drop ALL \
    --cap-add CHOWN \
    --cap-add SETUID \
    --cap-add SETGID \
    --cap-add KILL \
    --pids-limit 50 \
    --memory 256M \
    --health-cmd="curl --fail http://127.0.0.1:5232 || exit 1" \
    --health-interval=30s \
    --health-retries=3 \
    -v /var/opt/persist/radicale/data:/data \
    -v /var/opt/persist/radicale/config:/config \
    tomsquest/docker-radicale
ExecStop=/usr/bin/docker stop -t 2 %n

[Install]
WantedBy=default.target
