[Unit]
Description=ostree-uptimekuma
After=docker.service nginx.service
Requires=docker.service nginx.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull louislam/uptime-kuma:1
ExecStart=/usr/bin/docker run --rm --name %n --stop-timeout 60 \
  --net nginx_default --ip 172.20.1.197 \
  -v /opt/persist/uptimekuma:/app/data \
  -v /etc/resolv.conf:/etc/resolv.conf:ro \
  -v /var/run/docker.sock:/var/run/docker.sock:ro \
  louislam/uptime-kuma:1
#  -p 127.0.0.1:3001:3001 \
ExecStop=/usr/bin/docker stop -t 2 %n

[Install]
WantedBy=default.target
